<footer id="is-footer-copyright-group">
    <div id="footer-main" class="footer footer-main" style="padding: 30px 0;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 d-flex align-items-center flex-wrap">
                    <div class="row flex-grow-1">
                        <div class="col-md-2 col-6 mb-3 mb-md-0 logo-area">
                            <a href="">
                                <img alt="" class="main-logo img-responsive" src="../assets/images/logo-pixil.png"> 
                            </a>
                            <p>Please contact us if you have any specific idea or request</p>
                            <div class="social-area d-flex align-items-center mt-3">
                                <a href="" target="_blank" class="mr-3"> 
                                    <img alt="tw" src="../assets/images/twiter-logo.png" style="width: 25px"> 
                                </a> 
                                <a href="" target="_blank" class="mr-3"> 
                                    <img alt="tele" src="../assets/images/telegram-logo.png" style="width: 25px">
                                </a>
                                <a href="" target="_blank" class="mr-3"> 
                                    <img alt="gmail" src="../assets/images/gmail-logo.png" style="width: 25px">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-1 col-6 mb-3 mb-md-0" style='border-right: 2px solid #546374;'></div>
                        <div class="col-md-1 col-6 mb-3 mb-md-0"></div>
                        <div class="col-md-2 col-6 mb-3 mb-md-0">
                            <div id="navbarMenu" class="footer-menu">
                                <h4 class="title">Navigation</h4>
                                <ul id="menu-footer" class="main-menu justify-content-end navbar-nav flex-wrap">
                                    <li id="menu-item-811" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-811">
                                        <a href="" aria-current="page">Home</a>
                                    </li>
                                    <li id="menu-item-881" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-881">
                                        <a href="">Buy Avatar</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 col-6 mb-3 mb-md-0">                          
                            <div id="navbarMenu" class="footer-menu">
                                <h4 class="title">Support</h4>
                                <ul id="menu-footer" class="main-menu justify-content-end navbar-nav flex-wrap">
                                    <li id="menu-item-811" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-811">
                                        <a href="" aria-current="page">FAQ</a>
                                    </li>
                                    <li id="menu-item-881" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-881">
                                        <a href="">Help Center</a>
                                    </li>
                                    <li id="menu-item-809" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-809">
                                        <a href="">Give us a feedback</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</footer>