.footer{
    background: #292D3A;
    padding: 23px 0;
    color: #FFFFFF;
    .container-fluid {
      padding:0 219px;
    }
    .logo-area {
        .main-logo {
            margin-bottom: 18px;
        }
        .social-area {
            a {
              margin-right: 16px;
            }
        }
    }
    .footer-menu {
      .title {
        color: #7E9DB6;
        font-size: 20px;
        margin-bottom: 16px;
      }
      ul {
        li {
          a {
            text-decoration: none;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
  }
  .container-footer{
    width: 100%;
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
  }