.container-fluid {
   padding: 0 345px;
   h1.title {
      color: #86D0E1;
      font-size: 48px;
      margin-bottom: 64px;
    }
  }
.connect-game-and-road-map {
    background: url(../images/bg-road-map.png) center no-repeat;
    background-size: cover;

       .connect-game {
          text-align: center;
          padding: 219px 0;
          .logo-connect {
            margin-bottom: 141px;
          }
          .button-connect-game {
            a.btn-connect-to-game {
              background: url(../images/button-connect.png) center no-repeat;
              background-size: cover;
              width: 576px;
              height: 144px;
            }
          }
       }
       .road-map {
          padding: 72px 0;
          text-align: center;
          .info-road-map {
              margin-left: 54px;
              border-left: 8px solid #546374;
              padding-left: 71px;
              .item-road-map {
                text-align: left;
                position: relative;
                margin-bottom: 80px;
                img {
                  position: absolute;
                  left: -130px;
                  top: -10px;
                }
                .description {
                  color: #fff;
                  .day-update {
                    font-size: 18px;
                    margin-bottom: 16px;
                  }
                  p{
                    font-size: 16px;
                    line-height: 24px;
                  }
                }
              }
              .item-near-update {
                .day-update {
                  color: #B4ED60;
                }
              }
          }

       }
}
.milestones {
  text-align: center;
  background: url(../images/milestones-bg.png) center no-repeat;
  background-size: cover;
  padding: 129px 0;
  h1.title {
    margin-bottom: 120px;
  }
  .list-milestones {
    .item-milestones {
      background: url(../images/milestones-item-bg.png) center no-repeat;
      background-size: cover;
      padding: 73px 88px;
      margin-bottom: 89px;
      h4.title {
        font-size: 32px;
        line-height: 48px;
        color: #B4ED60;
        margin-bottom: 36px;
      }
      span {
        font-size: 48px;
        line-height: 72px;
        color: #fff;
      }
    }
  }
}
