.btn-buy{
    background: url(../images/bg-btn-buy.png) center center no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    border: 0;
  }
  .number-buy{
    background: url(../images/bg-input-buy.png) center center no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    border: 0;
  }
  .token-buy{
    background: url(../images/bg-token-buy.png) center center no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    border: 0;
    min-width: 85px;
    max-width: 85px;
    height: 85px;
    img{
      max-width: 45px;
      max-height: 47px;
    }
  }
  
  .dashboard-nav.nav-pills{
    padding-bottom: 50px;
    margin-bottom: 88px;
    border-bottom: 2px solid #CCCCCC;
    .nav-link{
      background: none!important;
      font-size: 20px;
      line-height: 30px;
      color: #181425;
      border-bottom: 2px solid transparent;
      padding: 16px 18px 32px;
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      &.active{
        color: #0CA364;
        border-bottom: 2px solid #0CA364;
      }
    }
  }
  
  .dashboard-item{
    border: 0;
    min-width: 217px;
    max-width: 217px;
    height: 300px;
    padding: 18px 12px 14px;
    margin-right: 36px;
    position: relative;
    &:before{
      content: " ";
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background: url(../images/bg-box.png) center center no-repeat;
      -webkit-background-size: contain;
        -moz-background-size: contain;
          -o-background-size: contain;
              background-size: contain;
      z-index: -1;
    }
    &:nth-child(5n){
      margin-right: 0;
    }
    &.active{
      &:before{
      content: " ";
        left: -4px;
        top: -4px;
        bottom: -4px;
        right: -4px;
        position: absolute;
        background: url(../images/bg-box-active.png) center center no-repeat;
        -webkit-background-size: contain;
          -moz-background-size: contain;
            -o-background-size: contain;
                background-size: contain;
        z-index: -1;
      }
    }
  }
  
  .dashboard-item-img{
    background: url(../images/bg-box-img.png) center center no-repeat;
    -webkit-background-size: contain;
       -moz-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    border: 0;
    min-width: 182px;
    max-width: 182px;
    height: 188px;
    overflow: hidden;
    img{
      max-width: 117px;
      max-height: 126px;
    }
  }
  
  .dashboard-item-name{
    background: url(../images/bg-box-name.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    border: 0;
    min-width: 190px;
    max-width: 190px;
    height: 56px;
    overflow: hidden;
  }
  
  .btn-box{
    background: url(../images/bg-btn.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
    border: 0;
  }
  .btn-box-2{
    background: url(../images/bg-btn-2.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
    border: 0;
  }
  .btn-box-3{
    background: url(../images/bg-btn-3.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
    border: 0;
  }
  .btn-box-4{
    background: url(../images/bg-btn-4.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    border: 0;
  }
  .btn-box-5{
    background: url(../images/bg-btn-5.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
               2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
    border: 0;
  }
  .page-faucet{
    background: url(../images/faucet-banner.jpg) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    border: 0;
    min-height: -webkit-calc(100vh - 252px);
    min-height: -moz-calc(100vh - 252px);
    min-height: calc(100vh - 252px);
    padding: 65px 0;
  }
  .faucet-main{
    width: 100%;
    max-width: 950px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .input-faucet{
    background: url(../images/bg-input.png) center center no-repeat;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    border: 0;
    padding: 20px 24px;
    color: #FAFAFA;
    font-size: 20px;
    &::-webkit-input-placeholder{
      color: #FAFAFA;
    }
    &:-moz-placeholder{
      color: #FAFAFA;
    }
    &::-moz-placeholder{
      color: #FAFAFA;
    }
    &:-ms-input-placeholder{
      color: #FAFAFA;
    }
    &::-ms-input-placeholder{
      color: #FAFAFA;
    }
    &::placeholder{
      color: #FAFAFA;
    }
  }
  .faucet-form{
    background: url(../images/faucet-info-banner.png) center center no-repeat;
      -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
              background-size: 100% 100%;
    border: 0;
    padding: 24px;
    position: relative;
    z-index: 5;
  }
  .faucet-form__dropdown{
    .dropdown-toggle{
      background: url(../images/bg-dropdown.png) center center no-repeat;
      -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
          -o-background-size: 100% 100%;
              background-size: 100% 100%;
      border: 0;
      padding: 16px 24px;
      min-width: 210px;
      position: relative;
      &:after{
        position: absolute;
        right: 20px;
        border: solid #FDD400;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      img{
        min-width: 36px;
        max-width: 36px;
      }
    }
    .dropdown-menu{
      background: #61321A;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      padding: 0;
      overflow: hidden;
      left: 25px!important;
      li{
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 16px 24px;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        &:hover{
          background: #fff;
          color: #61321A;
        }
      }
      img{
        min-width: 24px;
        max-width: 24px;
      }
    }
  }
  .faucet-chatbox{
    width: 100%;
    max-width: 466px;
    height: 120px;
    background: url(../images/faucet-chatbox.png) center center no-repeat;
      -webkit-background-size: contain;
        -moz-background-size: contain;
          -o-background-size: contain;
              background-size: contain;
      border: 0;
    padding: 22px 11px 22px 18px;
  }
  .faucet-form-top{
    position: relative;
    top: 65px;
    z-index: 1;
  }
.container-fluid {
   padding: 0 345px;
}
.dashboard-page {
   padding-top: 90px;
   padding-bottom: 216px;
   .title {
      color: #546374!important;
      font-size: 32px!important;
      line-height: 48px;
      padding-bottom: 32px;
      border-bottom: 2px solid #7E9DB6;
      margin-bottom: 72px!important;
      display: flex;
      justify-content: space-between;
      .swap-hero-and-robot {
        display: flex;
        align-items: center;
        p{
          color: #546374;
          margin: 0;
          cursor: pointer;
        }
        .active p {
          color: #0CCD7C;
        }
      }
   }
   .list-hero {
      .hero-card {
         background: url(../images/dashboard-card-bg.png) center center no-repeat;
         background-size: cover;
         width: 228px;
         height: 363px;
         position: relative;
         cursor: pointer;
         margin-bottom: 60px;
         .avatar {
            width: 192px;
            height: 192px;
            position: absolute;
            top: 48px;
            left: 18px;
            img.avatar-hover-image {
                position: absolute;
                left: 27px;
                top: -5px;
                display: none;
            }
         }
         .hero-status {
            position: absolute;
            bottom: 16px;
            left: 12px;
            text-align: center;
            width: 204px;
            h4.name-hero {
              color: #fff;
              font-size: 18px;
              line-height: 27px;
            }
            p.status {
              color: #7E9DB6;
            }

         }
      }
      .hero-card:hover {
        background: url(../images/dashboard-card-hover-bg.png) center center no-repeat;
        background-size: cover;
        img.avatar-hover-image {
          display: block;
        }
      }
   }
}
#buy-box {
  height: calc(100vh - 276.8px);
  padding-top: 88px;
  h4.title {
    font-size: 24px;
    line-height: 36px;
    color: #546374;
    margin-bottom: 16px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  .list-hero-claim {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 16px;
    background: #EAEAEA;
    border-radius: 16px;
    .hero-info {
      width: 996px;
      height: 150px;
      background: url(../images/buy-box-bg.png) center center no-repeat;
      background-size: cover;
      padding: 15px;
      cursor: pointer;
      .img {
        margin-right: 16px;
        width: fit-content;
        float: left;
        img {
          width: 120px;
          height: 120px;
          border-radius: 8px;
        }
      }
      .description {
        color: #fff;
        padding: 5px;
        h4.name {
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 16px;
        }
        p.info {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}
#buy-box {
  .hero-info-to-claim {
    display: inline-block;
    padding: 40px;
    background: #EAEAEA;
    border-radius: 16px;
    margin-bottom: 80px;
    .img {
        margin-right: 47px;
        width: 216px;
        height: 216px;
        float: left;
        background: url(../images/buy-avatar-bg.png) center center no-repeat;
        background-size: cover;
        position: relative;
        img {
          width: 192px;
          height: 192px;
          position: absolute;
          top: 12px;
          right: 12px;
        }
    }
    .description {
      h4.name {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 16px;
      }
      p.info {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 42px;
      }
      span.price {
        font-size: 20px;
        line-height: 30px;
        color: #DA5132;
      }
    }
  }
  .button-claim {
    display: flex;
    justify-content: center;
    button.btn-mint-hero {
      background: url(../images/approve-btn-bg.png) center center no-repeat;
      background-size: cover;
      width: 336px;
      height: 60px;
      border: 0;
      font-size: 20px;
      line-height: 30px;
      color: #fff;
    }
  }
}
