@media screen and (min-width: 1500px){
    .row-footer{
      .col-footer{
        &:first-child{
          border-right: 2px solid #788095;
        }
      }
    }
    .container{
      max-width: 1260px;
    }
  }
  
  @media screen and (min-width: 1285px){
    .roadmaps-item{
      &:nth-child(3n){
        margin-right: 0;
      }
      &:nth-child(5n){
        margin-right: 0;
      }
    }
  }
  
  @media screen and (max-width: 1400px){
    .dashboard-item{
      &:nth-child(5n){
        margin-right: 36px;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
  
  @media screen and (max-width: 1200px){
    .dashboard-item{
      margin-right: 20px;
      &:nth-child(5n){
        margin-right: 20px;
      }
      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
  
  @media screen and (max-width: 991px){
    .header{
      .item-link{
        margin-top: 20px;
      }
    }
    .dashboard-item{
      &:nth-child(4n){
        margin-right: 20px;
      }
    }
    .roadmaps-item{
      margin: 0 auto 50px;
    }
  }
  
  @media screen and (max-width: 767px){
    .title-page-desk{
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 550px){
    .milestones-item{
      min-width: 100%;
      max-width: 100%;
      padding: 40px 0 0;
    }
  }